body {
    background: black;
    color: white;
    margin: 0;
    font-family: sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
}

h2 {
    font-size: 20px;
}

.lien {
    border: solid white 1px;
    border-radius: 30px;
    font-size: 20px;
    display: flex;
    gap: 30px;
    padding: 15px 25px;
}

a {
    color: white;
    text-decoration: none;
}

.a {
    color: blueviolet;
}

h1 {
    font-size: 50px;
    line-height: 1.1;
}

.duMilieu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.milieu {
    max-width: 550px;
}

button {
    color: white;
    height: 50px;
    width: 200px;
    border-radius: 25px;
    margin-top: 20px;
    background-color: blueviolet;
    border: none;
}

#developpeur {
    height: 400px;
    width: 650px;
    max-width: 100%;
    border-radius: 15px;
}

@media screen and (max-width: 800px) {
    .duMilieu {
        flex-direction: column-reverse;
        text-align: center;
        gap: 40px;
    }

    #developpeur {
        width: 90%;
        height: auto;
    }

    .header {
        flex-direction: column;
        gap: 20px;
    }
}