body{
background:black;
color: white;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}
h2{
    font-size: 20px;
}
.lien{
    border: solid white;
    border-radius: 30px;
    font-size: 20px;
    display: flex;
    gap: 30px;
    padding: 20px;
}
h1{
    font-size: 50px;
}
a{
    color: white;
}
.milieu{
    padding-top: 100px;
}
button{
    color: black;
    height: 50px;
    width: 200px;
    border-radius: 20px;
    margin-top: 20px;
    background-color: blueviolet;}
#developpeur{
    height: 400px;
    width: 650px;
}
.duMilieu{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
a{
    text-decoration: none;
}
.lien2{
    gap: 100px;
}